<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />

  <!-- arguments -->
  <arg name="nodelet_manager" default="velodyne_nodelet_manager" />
  <!-- <arg name="points_topic" default="/rslidar_points" /> -->
  <arg name="points_topic" default="/velodyne_points" />
  <!-- input clouds are transformed in odom_child_frame, and then localization is performed in that frame -->
  <!-- this is useful to match the LIDAR and IMU coodinate systems -->
  <arg name="odom_child_frame_id" default="imu" />

  <arg name="enable_robot_odometry_prediction" value="true" />
  <!-- 使用里程计的时候，这个才会有用 -->
  <arg name="robot_odom_frame_id" value="world" />

  <!-- optional arguments -->
  <arg name="use_imu" default="true" />
  <arg name="invert_imu_acc" default="false" />
  <arg name="invert_imu_gyro" default="false" />
  <arg name="use_global_localization" default="true" />
  <arg name="imu_topic" default="/livox/imu" />

  <arg name="plot_estimation_errors" value="false" />

  <!-- <include file="$(find hdl_global_localization)/launch/hdl_global_localization.launch" if="$(arg use_global_localization)" /> -->

  <!-- livox 雷达 imu 与 激光的相对位置 -->
  <!-- V2 -->
  <node pkg="tf" type="static_transform_publisher" name="tf_imu_velody" args="0.081677, 0.168409, 0.141423 -0.0029418, -0.0025618, -0.0065382, 0.999971 imu velodyne  100"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_imu_livox"  args="0.081677, 0.168409, 0.141423 -0.0029418, -0.0025618, -0.0065382, 0.999971 imu livox  100"/> 

  <!-- in case you use velodyne_driver, comment out the following line -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

    <!-- hdl_localization_nodelet -->
    <node pkg="nodelet" type="nodelet" name="hdl_localization_nodelet" output="screen" respawn="true" args="standalone  hdl_localization/HdlLocalizationNodelet $(arg nodelet_manager)">
      <remap from="/velodyne_points" to="$(arg points_topic)" />
      <remap from="/gpsimu_driver/imu_data" to="$(arg imu_topic)" />
      <!-- odometry frame_id -->
      <param name="odom_child_frame_id" value="$(arg odom_child_frame_id)" />
      <!-- imu settings -->
      <!-- during "cool_time", imu inputs are ignored -->
      <param name="use_imu" value="$(arg use_imu)" />
      <param name="invert_acc" value="$(arg invert_imu_acc)" />
      <param name="invert_gyro" value="$(arg invert_imu_gyro)" />
      <param name="cool_time_duration" value="5.0" />
      <!-- robot odometry-based prediction -->
      <param name="enable_robot_odometry_prediction" value="$(arg enable_robot_odometry_prediction)" />
      <param name="robot_odom_frame_id" value="$(arg robot_odom_frame_id)" />
      <!-- ndt settings -->
      <!-- available reg_methods: NDT_OMP, NDT_CUDA_P2D, NDT_CUDA_D2D-->
      <param name="reg_method" value="NDT_OMP" />
      <!-- if NDT is slow for your PC, try DIRECT1 serach method, which is a bit unstable but extremely fast -->
      <param name="ndt_neighbor_search_method" value="DIRECT7" />

      <param name="ndt_neighbor_search_radius" value="1.0" />
      <!-- <param name="ndt_resolution" value="0.5" />
      <param name="downsample_resolution" value="0.05" />

      <param name="max_correspondence_dist" value="0.15" />
      <param name="LOC_SUCCESS_THRESHLOD" value="0.6" /> -->

      <!-- <param name="ndt_neighbor_search_radius" value="0.45" />   0.45 less 0.5 -->
      

      <!-- 越大，远处的点 所占比重越大，定位越准确 --><!-- 
      <param name="downsample_resolution" value="0.2" />  0.25 is ok 
      <param name="max_correspondence_dist" value="0.15" /> -->   <!--
      <param name="LOC_SUCCESS_THRESHLOD" value="0.0" />     
      <param name="ndt_resolution" value="0.75" />  0.2  0.3~0.5 
      <param name="ndt_stepsize" value="0.2" />  -->
      <!-- 以上参数不动，坑道外定位测试效果良好 -->

      <!-- 园区测试效果良好 -->  <!-- 0.25 is ok -->
      <!-- <param name="downsample_resolution" value="0.3" />  
      <param name="max_correspondence_dist" value="0.3" /> 
      <param name="LOC_SUCCESS_THRESHLOD" value="0.6" />      
      <param name="ndt_stepsize" value="0.3" />
      <param name="ndt_resolution" value="1.0" />       -->

      <!-- 江杨北路 -->
      <param name="downsample_resolution" value="0.3" />  <!-- 0.25 is ok -->
      <param name="max_correspondence_dist" value="0.2" /> 
      <param name="LOC_SUCCESS_THRESHLOD" value="0.0" />      
      <param name="ndt_resolution" value="0.80" /> <!-- 0.2  0.3~0.5 -->
      <param name="ndt_stepsize" value="0.2" />

      <!-- if "specify_init_pose" is true, pose estimator will be initialized with the following params -->
      <!-- otherwise, you need to input an initial pose with "2D Pose Estimate" on rviz" -->
      <param name="specify_init_pose" value="true" />
      <param name="init_pos_x" value="0.0" />
      <param name="init_pos_y" value="0.0" />
      <param name="init_pos_z" value="0.0" />
      <param name="init_ori_x" value="0.0" />
      <param name="init_ori_y" value="0.0" />
      <param name="init_ori_z" value="0.0" />
      <param name="init_ori_w" value="1.0" />

      <param name="use_global_localization" value="$(arg use_global_localization)" />
    </node>

    <!-- <node pkg="hdl_localization" type="plot_status.py" name="plot_estimation_errors" if="$(arg plot_estimation_errors)" /> -->

    <!-- <node name="rviz_hdl_loc" pkg="rviz" type="rviz" output="log" args="-d $(find hdl_localization)/rviz/hdl_localization.rviz" /> -->

</launch>
